<h1>New Project</h1>
<%= form_for(@project) do |f|%>
      <%= f.label :name %><br>
      <%= f.text_field :name%>
      <%= f.label :description %><br>
      <%= f.text_field :description%><br>
      <%= f.submit%>
    <%end%>
